*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 10rem;
}

.container{
    position:relative;
    width: 80rem;
    height: 40rem;
    margin: 20rem auto;
}

.message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box{
    width: 20rem;
    height: 20rem;
    transition-duration: 1.5s;
    position: relative;
}
.container:hover .box-1 ,
.container:hover .box-2{
    margin-left: 0px; 
    transform: translateX(-100%) rotate(90deg);
}
.container:hover .box-3 ,
.container:hover .box-4{
    margin-left: 0px; 
    transform: translateX(100%) rotate(90deg); 
    
}
.box-1{
    background-color: steelblue;
    top: 0%;
    left: 25%;
    position: absolute;
}

.box-2{
    background-color: dimgray;
    top: 50%;
    left: 25%;
    position: absolute;

}

.box-3{
    background-color:rosybrown;
    right: 25%;
    top: 0;
    position: absolute;

}

.box-4{
    background-color: yellow;
    right: 25%;
    top: 50%;
    position: absolute;
}

